{% extends "base.html" %}

{% block title %}Login Page{% endblock %}

{% block content %}
<div class="main">
    <div class="auth">
        {% if form.errors %}
            <p style="color:red;font-size:medium;">Your username and password didn't match. Please try again.</p>
        {% endif %}
        <form id="login-form" method="post">
            {% csrf_token %}

            {{ form.username }}

            {{ form.password }}

            <input id="login-submit" type="submit" value="Login">

            <input type="hidden" name="next" value="{{ next }}">

            <a id="login-signup-link" href="./pages/signup.html">SignUp</a>
        </form>
    </div>
</div>
{% endblock %}