{% extends "student/base.html" %}

{% block title %}Profile{% endblock %}

{% block header %}Your Profile{% endblock %}

{% block content %}

<div class="container">
    <div class="profile">
        <img src="https://1.bp.blogspot.com/-vhmWFWO2r8U/YLjr2A57toI/AAAAAAAACO4/0GBonlEZPmAiQW4uvkCTm5LvlJVd_-l_wCNcBGAsYHQ/s16000/team-1-2.jpg" alt="student picture">
        <h3> Isabella Ava </h3>
        <p> S7 - 51 </p>
    </div>
    <table class="form-div">
        
        <form class="settings-form">
            <tr>
                <td>
                    <label for="name">Name:</label>
                </td>
                <td>
                    <input type="text" id="name" name="name">
                </td>
            </tr>

            <tr>
                <td>
                    <label for="sem">Semester:</label>
                </td>
                <td>
                    <!-- <input type="text" id="sem" name="sem"> -->
                    <select id="sem-select" name="sem">
                        <option value="s1">S1</option>
                        <option value="s2">S2</option>
                        <option value="s3">S3</option>
                        <option value="s4">S4</option>
                        <option value="s5">S5</option>
                        <option value="s6">S6</option>
                        <option value="s7">S7</option>
                        <option value="s8">S8</option>
                        </select>
                </td>
            </tr>

            <tr>
                <td>
                    <label for="username">Username:</label>
                </td>
                <td>
                    <input type="text" id="username" name="username">
                </td>
            </tr>

            <tr>
                <td>
                    <label for="pass">Password:</label>
                </td>
                <td>
                    <input type="password" id="pass" name="pass">
                </td>
            </tr>

        </form>
    </table>
</div>


{% endblock %}
